<div class="alert alert-notice js-stay">
  <p class="alert__body">
    Access to this database is restricted to UNEP-WCMC staff.
  </p>
</div>

<main class="container--profile container--right-padded container--push-bottom">
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link" href="<%= protected_planet_path(:root) %>">Home</a> &gt;
    <a class="breadcrumbs__link" href="<%= protected_planet_path(:resources) %>">Resources</a> &gt;
    <a class="breadcrumbs__link" href="/">WDPA Code Tracker</a> &gt;
    Login
  </nav>
  <div class="hero">
    <h1 class="hero__title hero__title--article hero__title--push hero__title--with-border">Login</h1>
  </div>

  <div class="article">
    <div class="info-box info-box--fill-color">
      <div class="info-box__body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="row">
            <label for="email">
              <p class="search__label">Email</p>
              <%= f.email_field :email, autofocus: true, class: "search__input" %>
            </label>
          </div>

          <div class="row">
            <label for="password">
              <p class="search__label">Password</p>
              <%= f.password_field :password, autocomplete: "off", class: "search__input" %>
            </label>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="row">
              <label for="remember_me">
                <span class="search__label">Remember me?</span>
                <%= f.check_box :remember_me %>
              </label>
            </div>
          <% end -%>

          <button class="big-button" type="submit">Sign in</button>
        <% end %>
      </div>
    </div>
  </div>
</main>
